dotenv==0.9.9
numpy==1.26.4
torch==2.6.0
gym==0.26.2
matplotlib==3.9.4
git+https://github.com/DanMcInerney/pymetasploit3.git@498d65f1cd132b62071b78df9dc95fa987abf39e#egg=pymetasploit3
python-nmap==0.7.1
openai==1.70.0